<?xml version="1.0" ?>
<launch>
    <arg name="camera" default="camera" />
    <arg name="camera_type" default="$(optenv CAMERA_TYPE CSI)"/>

    <!-- 相机型号 -->
    <param name="camera_type" value="$(arg camera_type)" />

    <!-- 使用 CSI 相机 -->
    <group if="$(eval arg('camera_type')=='CSI')">
        <param name="camera_type" value="$(arg camera_type)" />
        <param name="camera_rgb_prefix" value="csi_camera" />
        <include file="$(find pug_peripherals)/launch/csi_camera.launch"/>
    </group>

    <!-- web video 流 -->
    <node name="web_video_server" pkg="web_video_server" type="web_video_server">
        <param name="type" value="h264" />
    </node>
</launch>
