<?xml version="1.0"?>
<robot name="pug" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/pug</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo>

  <xacro:macro name="model_color" params="link_name">
    <gazebo reference="${link_name}">
      <material>Gazebo/Black</material>
      <turnGravityOff>false</turnGravityOff>
    </gazebo>
  </xacro:macro>
  <xacro:model_color link_name="base_footprint"/>
  <xacro:model_color link_name="base_link"/>
  <xacro:model_color link_name="lidar_link"/>

  <xacro:macro name="link_setup_block" params="link_name">
    <gazebo reference="${link_name}">
      <kp>1000000.0</kp>
      <kd>1.0</kd>
      <mu1>0.4</mu1>
      <mu2>0.4</mu2>
      <minDepth>0.0002</minDepth>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="gazebo_coxa" params="name">
        <gazebo reference="${name}">
            <kp>1000000.0</kp>
            <kd>1000000.0</kd>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
            <minDepth>0.0002</minDepth>
            <material>Gazebo/Black</material>
            <turnGravityOff>false</turnGravityOff>
        </gazebo>
  </xacro:macro>

  <xacro:macro name="gazebo_thigh" params="name">
        <gazebo reference="${name}">
            <kp>1000000.0</kp>
            <kd>1000000.0</kd>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
            <minDepth>0.000</minDepth>
            <material>Gazebo/Black</material>
            <turnGravityOff>false</turnGravityOff>
        </gazebo>
    </xacro:macro>

  <xacro:macro name="gazebo_calf" params="name">
        <gazebo reference="${name}">
            <kp>500.0</kp>
            <kd>0.05</kd>
            <mu1>0.4</mu1>
            <mu2>0.4</mu2>
            <minDepth>0.0002</minDepth>
            <material>Gazebo/Black</material>
            <turnGravityOff>false</turnGravityOff>
        </gazebo>
  </xacro:macro>

  <xacro:gazebo_coxa name="joint_Link_1"/>
  <xacro:gazebo_coxa name="joint_Link_2"/>
  <xacro:gazebo_coxa name="joint_Link_3"/>
  <xacro:gazebo_coxa name="joint_Link_4"/>

  <xacro:gazebo_thigh name="thigh_Link_1"/>
  <xacro:gazebo_thigh name="thigh_Link_2"/>
  <xacro:gazebo_thigh name="thigh_Link_3"/>
  <xacro:gazebo_thigh name="thigh_Link_4"/>

  <xacro:gazebo_calf name="calf_Link_1"/>
  <xacro:gazebo_calf name="calf_Link_2"/>
  <xacro:gazebo_calf name="calf_Link_3"/>
  <xacro:gazebo_calf name="calf_Link_4"/>
</robot>
